body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: wheat;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 4vw;
    margin-bottom: 10px;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
}

nav ul li a:hover {
    color: yellow;
}

#main-content {
    text-align: center;
    padding: 10px 0 10px 0;
}

#carrossel{
    background-color: gray;
    padding: 50px;
}

#titulo-carrossel{
    text-align: center;
    color: white;
}

#div-imgs {
    display: grid;
    grid-auto-flow: column;
}

.tintas-img {
    margin-left: 50px;
    width: 50%;
    max-width: 200px;
    border-radius: 25px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.seta{
    margin-top: 55px;
    cursor: pointer;
}   

.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

#setaesquerda, #tinta3{
    display: none;
}

