body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: wheat;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 4vw;
    margin-bottom: 10px;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
}

nav ul li a:hover {
    color: yellow;
}

.main-content {
    text-align: center;
    padding: 10px 0 10px 0;
}

#carrossel{
    background-color: gray;
    padding: 50px;
}

#titulo-carrossel{
    text-align: center;
    color: white;
}

#div-imgs {
    display: grid;
    grid-auto-flow: column;
}

.tintas-img {
    margin-left: 50px;
    width: 50%;
    max-width: 200px;
    border-radius: 25px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.seta{
    margin-top: 55px;
    cursor: pointer;
}   

.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

#setaesquerda, #tinta3{
    display: none;
}

.produtos {
    display: grid;
    grid-template-areas:
        "prod1 prod2 prod3"
        "prod4 prod5 prod6";
}

.produtos-img {
    border: solid black 1px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 25px 25px 25px;
}

.produtos-img img {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

.formulario {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 6vw;
    }

    nav ul li a {
        font-size: 3vw;
    }

    .main-content {
        padding: 5px 0 5px 0;
    }

    #carrossel {
        padding: 20px;
    }

    #titulo-carrossel {
        font-size: 4vw;
    }

    .produtos-img img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .produtos {
        display: grid;
        grid-template-areas:
            "prod1 prod2"
            "prod3 prod5"
            "prod4 prod6";
    }
    
}